/*================================================================================
# style.css					    							| date: 28_04_2017 # 
================================================================================
copyright pmadaj@ - some text to explain why, what irp

/*
html - <id="hidden_div"> | css - #hidden_div
html - <class="hidden_div"> | css - .hidden_div


=========================
# FONTs					|
================================================================================
*/

/* clock font */@font-face {
    font-family: 'digital-7';
    src: url('digital-7.ttf');
    src: local('digital-7'),
    	 url('digital-7.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
	}


/*===========================
# navigation manus			|
================================================================================
*/

/* MENU NAV TOP */
 *{margin: 0; padding: 0;}
#top_menu_nav li {list-style: none;}
#top_menu_nav {height: 30px; background:#073642; }
#top_menu_nav ul {visibility: hidden; position: absolute; top: 100%; left: 0;}
#top_menu_nav li {float: left; padding-right: 1px; position: relative;}
#top_menu_nav li li {float: none; padding-top: 1px; width: 160px;}
#top_menu_nav li:hover ul {visibility: visible;}
#top_menu_nav a, #top_menu_nav li:hover li a {display: block; font: 17px/30px verdana, sans-serif; text-decoration: none; padding: 0 12px; color: #FDF6E3; background-color: #073642;}
#top_menu_nav li li a {width: 150px;}
#top_menu_nav li:hover a, #top_menu_nav li:hover li:hover a {background-color: #859900;}

/* MENU NAV RIGHT */
.right_menu_nav li { /* wyglad elementu wiersza listy */
		list-style: none;
		margin:0;
        border:0px;
        width:150px; /* changed from 150 */
}
.right_menu_nav li img { /* pozycionowanie obrazka/ikony w linku */
		padding-top:3px;
}
.right_menu_nav li a { /* wyglad elementu - a */
		display: block;
		font: 12px/18px verdana, sans-serif;
		text-decoration: none;
		padding: 0 12px;
		color: #000;
		background-color: #FDF6E3;
}  
.right_menu_nav li:hover a { /* wyglad elementu - a - w momencie najechania na niego kursorem myszki */
		
		display: block;
		font: 12px/18px verdana, sans-serif;
		text-decoration: none;
		padding: 0 12px; /*top-bottom left-right */
		color: #fff;
		background-color: #abcabc;
}
{
	margin: 0;
	padding: 0;
}

body
{
	margin: 0;
	padding: 0;
	background: #CCC;
	color: #000;
	font-size: 80%;
	font-family: "arial";
}

/*=========================
# top container 		  |
================================================================================
*/
	
#top_cont
{
	width: 100%;
	height: 60px;
	color: #CCC;
}

#top_header
{
	margin: 0 auto;
	width: 100%;
	height: 30px;
	background: #FDF6E3;
	font-weight: bold;
}

#top_header_left
{
	float: left;
	width: 90%;
	height: 30px;
	text-align: left;
	color: #666;
}


#top_header_right
{
	float: left;
	width: 10%;
	height: 30px;
	
	text-align: right;
	color: #999;
}

#top_menu
{
	margin: 0 auto;
	width: 100%;
	height: 30px;
	background: #000;
}

#top_menu_left
{
	float: left;
	width: 80%;
	height: 30px;
	background: #fff;
}

#top_menu_right
{
	float: left;
	width: 20%;
	height: 30px;
	background: #333;
}

/*=========================
# main container    	  |
================================================================================
*/
	
#main_cont
{
	width: 100%;
	

} 

#main_panel
{
	margin: 0 auto;
	width: 100%;
	
}

#main_panel_left
{
	float: left;
	width: 82%;
	height: 900px;
	padding: 0 0 0 0;
	
	font-weight: bold;
	background: #f0f0f0;
}


#main_panel_right
{
	float: left;
	width: 18%;

    background: yellow;
	line-height: 160%;
}

#section_time
{
	margin: 0 auto;
	width: 100%;
	height:80px;
}

#time_zone
{
	margin: 0 auto;
	width: 100%;
	height:20px;
	text-align: center;
}

#section_menu
{
	margin: 0 auto;
	width: 100%;
	height: 75%;
}

#section_spacer
{
	margin: 0 auto;
	width: 100%;
	background: lime;
	height:10px;
}
.time_clock
{
	margin: 0 auto;
	#width: 100%;

	background: orange;
	font-family: 'digital-7';
	font-size: 50px;
	text-align: center;
	letter-spacing: 4px;

	line-height: 1;
	padding: 5px 5px 5px 5px;
	color: #000;

}

/*=========================
# footer container         |
================================================================================

	

#footerCont
{

    clear: both;
    text-align: center;
    margin-bottom: 0;
    background: #ff0000;
	position: fixed;
	height: 250px;
	#bottom: 0;
}

#footer
{
    position: fixed;
    height: auto;
    width: 100%;
    background: #993300;
    bottom: 0;
}

#footer a
{
	color: #666;
	height: 100%;
	padding: 0 20px;
    line-height: 20px;
	text-decoration: none;
}

#footer a:hover
{
	color: #red;
	width: 100%;
	height: 100px;
	padding: 15px 0 15px 25px;
}

textarea {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 20px;
}

/*=========================
# clipboard           |
================================================================================



#slideout {
	position: fixed;
	bottom: 0;
    left: 0;
    width: 100%;
	border-top: 1px solid #a0a0a0;
    padding: 2px 0 2px 0;
    text-align: center;
    background: #f0f0f0;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
}
#slideout_inner {
    position: fixed;
    bottom: -106px;
    left: 0;
    background: #f0f0f0;
    width: 100%;
    padding: 3px 7px 7px 7px;
    height: 100px;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    text-align: left;

}
#slideout_inner textarea {
    background-color: #FFFFFF;
    border: 1px solid #a0a0a0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #EEEEEE inset;
    color: black;
    font-size: 15px;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    padding: 1.6rem;
	width: 99%;
	height: 100px;
	}
#slideout:hover {
    bottom: 106px;
}
#slideout:hover #slideout_inner {
    bottom: 0;
}
*/


/*
=========================
# hidden div			|
================================================================================
*/
input[type=checkbox]  { /* checbox formating */
	position: fixed;
	display: none;
	}


/* visible bar integrated with hidden div */
#footer_bar {
	position: fixed;
    bottom: 0;
    left: 0;
    background: #f0f0f0;
    width: 100%;
	border-top: 1px solid #a0a0a0;
	padding: 6px 7px 7px 7px;
    height: 135px;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
}

/* hidden div action */
input[type=checkbox]:checked ~ #footer_bar {
    bottom: -110px;
    
}


#hidden_div textarea { /* textarea in hidden div */
    background-color: #FFFFFF;
    border: 1px solid #a0a0a0;
    padding: 3px 7px 10px 7px;
    box-shadow: 1px 1px 3px #EEEEEE inset;
    color: black;
    font-size: 16px;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    #padding: 1.6rem;
	width: 98%;
	height: 90px;
	}


.iframe_middle_part { /* pole tekstowe */
    background-color: #fbfbfb;
    border: 1px solid #a0a0a0;
    padding: 3px 7px 10px 7px;
    box-shadow: 1px 1px 3px #EEEEEE inset;
    color: white;
    font-size: 16px;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    #padding: 1.6rem;
	width: 98%;
	height: 96%;
	}